body {
    font-size: 0.5em;
    text-align: justify;
    text-justify: inter-word;
}

.grey { color: #666; }
.red { color: #f00; }
.blue { color: #0046ce; }
.green { color: #4CAF50; }
.purple { color: #9900c9; }
.orange { color: #ff7f00; }

table {
    border-collapse: collapse;
}

td, th {
    padding: 0 .5rem;
}

th {
    border-bottom: thin solid black;
    text-align: left;
}

pre {
    border: none;
    background-color: #faf8f0;
    padding: .5rem;
    display: inline-block;
    min-width: 25%;
}

code {
    background-color: #faf8f0;
}

